.header__lang-link {
  margin-left: auto;
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
  opacity: 1;
  transition: opacity 1s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:nth-child(3) {
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
