@font-face {
  font-family: "Inter";
  src: url(../../vendor/Inter/Inter-Regular.woff) format("woff"),
  url(../../vendor/Inter/Inter-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url(../../vendor/Inter/Inter-Black.woff) format("woff"),
  url(../../vendor/Inter/Inter-Regular.woff2) format("woff2");
  font-weight: bold;
}

.page {
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
}
