.photo-grid {
  display: grid;
  margin: 0 48px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: center;
  justify-items: stretch;
  padding-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin: 0 24px;
    padding-bottom: 88px;
  }
}
