.footer__copyright {
  margin: 0;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 1;
    margin-left: 0;
  }
}
