.cover {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1184px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
    max-width: 320px;
  }
}
